.header {
  width: 68.75%;
  margin: auto;
  padding-top: 3.52%;
}
.header__logo {
  width: 173px;
  height: 33px;
}
.header__line {
  border: 1px solid #545454;
  opacity: 0.7;
  margin-top: 3.93%;
  margin-bottom: 0;
}

@media screen and (max-width: 320px) {
  .header {
    width: 320px;
    padding-top: 8.74%;
  }
  .header__line {
    margin-top: 8.12%;
  }
  .header__logo {
    width: 126px;
    height: 24px;
    padding-left: 8.44%;
  }
}
